@charset "UTF-8";

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.tab{
	background-color: lightgray;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.image{
	margin-right: auto;
}
#logo{
	height: 4.2rem;
	margin-right: auto;
}
.link{
	list-style: none;
}
.link li{
	display: inline-block;
	padding: 0 1.25rem;
}
.link li a {
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	transition: all 0.5s ease 0s;
}
.link li a:hover {
  color: rgba(0, 173, 181, 0.8);
}




