<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.file.mapper.FileMapper">

	<select id="fList" resultType="File">
		select
			file_no,
			board_no,
			origin_name,
			change_name,
			file_path,
			file_size,
			delete_yn,
			create_date,
			delete_date
		from files
		where board_no = #{board_No} and delete_yn = 'N'
	</select>


	<insert id="insertFile" parameterType="list">
		INSERT INTO files
		(
			board_no,
			origin_name,
			change_name,
			file_size,
			file_path,
			create_date
		)VALUES
		<foreach collection="list" item="item" separator=",">
		(
			#{item.board_No},
			#{item.origin_Name},
			#{item.change_Name},
			#{item.file_Size},
			#{item.file_Path},
			now()
		)
		</foreach>
	</insert>
	
	<update id="deleteFile">
		UPDATE
			files
		SET
			delete_yn = 'Y'
		where
			file_no = #{file_No}
	</update>
	
	
	
</mapper>